/* heading-page ***********************/
.heading-page {
	.bg-dark-2;

	&__inner {
		padding-top: @indent-xlarge;
		padding-bottom: @indent-xlarge;
		.last;

		> * {
			margin-bottom: @indent-medium;
		}
	}
	&__title {
		.last;
	}
	&__backpath {
		margin-bottom: @indent-xsmall;

		&,
		a {
			color: @c-secondary;
		}
	}
	&__actions {
		display: flex;
		justify-content: space-between;
	}
	&__rating {}
	&__menu {
		@media (max-width: 600px) {
			display: none;
		}

		menu {
			padding: 0;
		}
		li {
			display: inline-block;
			padding-right: @indent-large;

			&:last-child {
				padding-right: 0;
			}
			a {
				color: @c-white;
				font-size: @fz-subheading;
				transition: .3s;

				&:hover {
					color: @c-link-hover;
				}
				i {
					font-size: @fz-subheading + 2;
					color: @c-secondary;
					position: relative;
					top: 3px;
					margin-right: @indent-xsmall;
				}
			}
		}
	}
}
